@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=Science+Gothic:wght@100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-0: #260d33;
  --color-1: #2e183b;
  --color-2: #312750;
  --color-3: #554685;  
  --color-4: #8f5483;
  --color-5: #d87e94;
  --color-6: #e8afbf;
  --color-7: #ffffff;
  
  --transparent-color-1: rgba(46, 24, 59, 0.4);
  --transparent-color-2: rgba(85, 70, 133, 0.4);
  --transparent-color-3: rgba(232, 175, 191, 0.4);
  
  --font-1: 'Tourney', sans-serif;
  --font-2: 'Science Gothic', sans-serif;
  --font-3: 'Edu SA Beginner', sans-serif;
}
